$colors: (
    navy: #001F3F,
    blue: #0074D9,
    aqua: #7FDBFF,
    teal: #39CCCC,
    olive: #3D9970,
    green: #2ECC40,
    yellow: #FFDC00,
    orange: #FF851B,
    red: #FF4136,
    fuchsia: #F012BE,
    purple: #B10DC9,
    maroon: #85144B,
    white: #FFF,
    grey: #AAA,
    silver: #DDD,
    black: #111
);

@function get-color($color) {
    @return map-get($colors, $color );
}

$page-bg-color: #EBEBEB;
$color-black: get-color(black);