/*

  COLORS
  Better default colors for the web

*/
/* 

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/*

   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/

@each $key, $value in $colors {

  /* Backgrounds */
  .u-bg-#{$key} {
    background-color: $value;
  }

  /* Colors */
  .u-#{key} {
    color: $value;
  }

  /* Border colors 

    Use with another border utility that sets border-width and style 
    i.u-e .u-border { border-width: 1px); border-style: solid); }     
  */
  .u-border--#{key} {
    border-color: $value;
  }

  /* Fills for SVG */
  .u-fill-#{key} {
    fill: $value;
  }

  /* Strokes for SVG */
  .u-stroke-#{key} {
    stroke: $value;
  }
};