h1, .u-alpha {
    font-size:3rem;    
    line-height:1.5; 
}
h2, .u-beta {
    font-size:2em;   
    line-height:1.5; 
} 
h3, .u-gamma {
    font-size:1.5rem; 
    line-height:1.2;   
}
h4, .u-delta {
    font-size:1.25rem;
    line-height:1.333; 
}
h5, .u-epsilon {
    font-size:1rem;    
    line-height:1.5;   
}
h6, .u-zeta {
    font-size:1rem;   
    line-height:1.5;   
}